
<html>
<head>
</head>
<body>
<h1> Просмотр позиций в Яндексе</h1>
{% for domain in domains %}
<br>
<p style="font-size:16px;">
Домен :&nbsp;{{domain.name}}<br>
Ключевые слова :&nbsp;{{domain.keywords}} <br>
Позиция :&nbsp;{{domain.position}} <br>
</p>

{% endfor %}
</body>
</html>




